* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Navbar */

.navbar {
  min-height: 60px;
  background-color: #fefefe;
  padding: 0 8.33%;
}

.bg-grey {
  background-color: #ededed;
}

/* Home */

.background-img {
  background: linear-gradient(rgba(50, 50, 50, 0.75), rgba(50, 50, 50, 0.75)),
    url(https://images.pexels.com/photos/2952871/pexels-photo-2952871.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-repeat: repeat;
  background-size: cover;
}

header {
  position: relative;
  height: 250px;
}

/* Login */

/* .container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 7rem;
  padding: 0 2rem;
} */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-show {
  display: block;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 0px solid #888;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* Profile */
.divider {
  position: relative;
  min-height: 60px;
  width: 100%;
  padding: 12px 0;
  background-color: #fefefe;
}

#userName {
  position: relative;
  top: 200px;
}

.course-container {
  min-height: 150px;
}

/* Courses */

#createCourseBtn {
  border-radius: 0;
  border-width: 2px;
  position: absolute;
  right: 80px;
  width: 150px;
}

/* Forms */

.form-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  width: inherit;
  padding: 20px;
}

form {
  width: 100%;
}

.form-control:focus {
  box-shadow: none;
}

/* Input */

.input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: none;
  padding: 0.5rem 0.7rem;
  font-size: 1.2rem;
  color: #555;
  font-family: "poppins", sans-serif;
}

.input-container {
  position: relative;
  margin: 15px 0;
  padding: 5px 0;
  border-bottom: 2px solid #d9d9d9;
}

.i {
  color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.i i {
  transition: 0.3s;
}

.input-container > h5 {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  font-size: 18px;
  transition: 0.3s;
  pointer-events: none;
}

.input-container:before,
.input-container:after {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: #38d39f;
  transition: 0.4s;
}

.input-container:before {
  right: 50%;
}

.input-container:after {
  left: 50%;
}

.input-container.focus:before,
.input-container.focus:after {
  width: 50%;
}

.input-container.focus > h5 {
  top: -5px;
  font-size: 15px;
}

/* Alert */
.alert {
  left: 0;
  top: 0;
  overflow: auto;
  -webkit-animation-name: animateAlert;
  -webkit-animation-duration: 0.4s;
  animation-name: animateAlert;
  animation-duration: 0.4s;
  padding: 2px 5px;
  margin: 20px 0;
}

@-webkit-keyframes animateAlert {
  from {
    top: -50px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animateAlert {
  from {
    top: -50px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.card {
  background-color: #fefefe;
}

.card-header-green {
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 0px;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 10px;
  text-decoration: none;
  height: 30px;
}
.card-header-red {
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 0px;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 10px;
  text-decoration: none;
  height: 30px;
}

.btn {
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.btn:focus,
.btn:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.loading-screen {
  height: 100vh;
}

.loader {
  border: 10px solid #3498db;
  border-radius: 50%;
  border-top: 10px solid #ffffff;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.loader-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#homeDivider {
  min-height: 2vh;
}

.login-button {
  display: inline-block;
  padding: 0.5em 3em;
  border: 0.1em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #0097a7;
  text-align: center;
  transition: all 0.15s;
  background-color: transparent;
  border-color: #0097a7;
}
.login-button:hover,
.login-button:focus {
  outline: solid;
  outline-color: #2193b0;
  outline-width: 0.08rem;
  background-color: #e6fdff;
}
.login-button:active {
  outline: solid;
  outline-color: #2193b0;
  outline-width: 0.08rem;
}
@media all and (max-width: 30em) {
  .login-button {
    display: block;
    margin: 0.4em auto;
  }
}

.nav-btn {
  display: inline-block;
  padding: 0.5em 0.3em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #616161;
  text-align: center;
  transition: all 0.15s;
  background-color: transparent;
  height: inherit;
  border-color: transparent;
}

.nav-btn:hover {
  background-color: #eeeeee;
}

.nav-btn:active,
.nav-btn:focus {
  background-color: #eeeeee;
  outline-color: transparent;
  border-color: transparent;
}

.gradient-divider {
  background: #2193b0;
  background: -webkit-linear-gradient(to left #6dd5ed, #2193b0);
  background: linear-gradient(to left, #6dd5ed, #2193b0);
  height: 1.5vh;
}

.text-teal {
  color: #2193b0;
}

.overflow {
  overflow: hidden;
}
